<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pendleton Auto Repair</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
	<link rel="stylesheet" href="resources/reset.css">
	<link rel="stylesheet" href="static/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body style = "background-color:white">
	<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<header style = "background-color:gainsboro">
		<img id="logo" src="static/logo2.jpg" alt="Pendleton Auto Repair 1710 2nd Ave East, Oneonta AL, 35121" style="margin-top:0px">
		<div class="navbar">
			<ul style = "background-color:white">
				<li><a href="home">Home</a></li>
				<li><a href="research">Vehicle Research</a></li>
				<li><a href="tires">Tires</a></li>
				<li><a href="wheels">Wheels</a></li>
				<li><a href="repairs">Schedule Auto Repairs</a></li>
				<li><a href="coupons">Coupons</a></li>
				<li><a href="location">Locations</a></li>
		</div>
	</header>

	<div id="content">
		{% block content %}

		{% endblock %}

	<script src="" async defer></script>
</body>
</html>
