{%extends "base.html"%}
{%block content%}


<h1>Hello {{username}} please complete the information below</h1>
<table class ="table">
<form action= "{{url_for('upload')}}" name = "t18" enctype="multipart/form-data" method="POST">
  <th>
    <label for="fileName">File Name:</label>
    <input type ="file" name ="fileName" class = "btn btn-lg btn-secondary" ></input>
  </th>
  <tr>
  <td>
    <button type ="submit" class = "btn btn-lg btn-secondary">Submit</button>
  </td>
</tr>
</form>
</table>

{%endblock%}
