{% extends "base.html" %}
{% block content %}
<style>
table {font-family: arial, sans-serif; border-collapse: collapse; margin: auto; width: 50%;}
td, th {border: 1px solid #dddddd; text-align: left; padding: 8px;}
tr:nth-child(even) {background-color: gainsboro;}
tr:nth-child(1) {color: rgb(27,150,250);}
</style>
  {{csrf_token}}
  <h1 style = "font-size:32px; background: gainsboro">{{getRequest}}</h1>
  <h1>Search Results:<h1>
    <table>
      <tr>
        <th>Type ID</th>
        <th>Type</th>
      </tr>
      {% for i in info%}
      <tr>
        <td>{{i["VehicleTypeId"]}}</td>
        <td>{{i["VehicleTypeName"]}}</td>
      </tr>
      {%endfor%}
  <table>

{% endblock %}
