{% extends "base.html" %}

{% block content %}
<h2>Vehicle Search</h2>
<form methond = "POST" action = "{{url_for('models')}}">
  {{form.hidden_tag()}}
  {{form.make.label}}{{form.make}}
  {{form.model.label}}{{form.model}}
  {{form.year.label}}{{form.year}}
  {{form.makeID.label}}{{form.makeID}}
  {{form.modelID.label}}{{form.modelID}}
  {{form.vin.label}}{{form.vin}}
  {{form.type.label}}{{form.type}}
  {{form.getRequest.label}}{{form.getRequest}}
  <br>
  <br>
  {{form.submit()}}
</form>
<p>{{data}}</p>
{% endblock %}
